@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-secondary-scroll: 9, 85, 76; /*rgba(9, 85, 76)*/ 
  --color-accent-scroll: 255, 107, 107; /*rgba(255, 107, 107)*/
}

@layer base {
  body {
    font-family: "Parkinsans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  /* Asegura que estos estilos tengan prioridad */
  *::-webkit-scrollbar {
    width: 5px !important;
    height: 5px !important;
  }

  *::-webkit-scrollbar-track {
    background: rgba(var(--color-secondary-scroll), 0.1) !important;
    border-radius: 5px !important;
  }

  *::-webkit-scrollbar-thumb {
    background: rgba(var(--color-accent-scroll), 0.8) !important;
    border-radius: 5px !important;
  }

  *::-webkit-scrollbar-thumb:hover {
    background: rgba(var(--color-accent-scroll), 1) !important;
  }
}

@layer utilities {
  .custom-scrollbar {
    scrollbar-width: thin !important;
    scrollbar-color: rgba(var(--color-accent-scroll), 0.8) rgba(var(--color-secondary-scroll), 0.1) !important;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 8px !important;
    height: 8px !important;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: rgba(var(--color-secondary-scroll), 0.1) !important;
    border-radius: 5px !important;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(var(--color-accent-scroll), 0.8) !important;
    border-radius: 5px !important;
    border: 2px solid transparent !important;
    background-clip: content-box !important;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(var(--color-accent-scroll), 1) !important;
    border: 2px solid transparent !important;
    background-clip: content-box !important;
  }

  .custom-scrollbar::-webkit-scrollbar-corner {
    background: transparent !important;
  }
}
